{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}



{% block content %}
  <div class="container">
    <h2>User profile</h2>
  <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
      {% if page_user.avatar %}
        <img src="{{ page_user.avatar.url}}" class="img-fluid rounded-start" alt="foto_profile">
      {% else %}
        <img src="{% static "blog/images/defaulte_foto.jpeg" %}" class="img-fluid rounded-start" alt="foto_profile">
      {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{ page_user.username}}</h5>

        <h5 class="card-title">{{ page_user.first_name }} {{page_user.last_name }}</h5>
        <h5 class="card-title">{{ page_user.date_of_birth}} </h5>
        <p class="card-text">{{ page_user.bio }}</p>
        <p class = "small text-muted">
          {% if page_user.facebook_url %}
            <a href="{{ page_user.facebook_url }}">Facebook</a> |
          {% endif %}
          {% if page_user.twitter_url %}
            <a href="{{ page_user.twitter_url }}">Twitter</a> |
          {% endif %}
          {% if page_user.instagram_url %}
            <a href="{{ page_user.instagram_url }}">Instagram</a>
        {% endif %}
        </p>
        <p class="card-text"><small class="text-body-secondary">Last join site {{ page_user.last_login}}</small></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<br><br>
