{% load static %}


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url "blog:post-list" %}">MY BLOG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "blog:post-create" %}">Create post</a>
          </li>
           <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "blog:category-list" %}">Category</a>
          </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "logout" %}">Logout</a>
          </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "author-list" %}">All users</a>
          </li>

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           {{ user.first_name }} {{ user.last_name }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url "author-register-edit" %}">Edit profile</a></li>
            <li><a class="dropdown-item" href="{% url "author-detail" pk=user.id %}">See profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url "author-password-change" %}">Change password</a></li>
          </ul>
        </li>

          <li class="navbar-brand">

          {% if user.avatar.url %}
            <img src="{{ user.avatar.url}}" width=30 height=30 class="rounded-circle">
          {% else %}
            <img src="{% static "blog/images/defaulte_foto.jpeg" %}" width=30 height=30 class="rounded-circle">
          {% endif %}
          </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "author-register" %}">Register</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "login" %}">Login</a>
        </li>
       {% endif %}
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
