{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container">
    {% if user.is_authenticated %}
      <h1>{{ object|yesno:"Update,Create" }} comment</h1>
      <div class="form-group">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.media }}
          {{ form | crispy}}
          <br>
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>
        </div>
    {% endif %}
  </div>
{% endblock %}
