{% include "base.html" %}


<div class="container">
{% block content %}
   <p>Post Author id: {{ post.authors.id }}</p>



<body>
  <p> Title: {{ post.title }} </p>
  <p> Body: {{ post.body | safe }} </p>
  <p> Date: {{ post.post_date }}</p>
</body>
  <br><br>
  {% if user.is_authenticated %}
    {% if user.id == post.authors.id %}
      <a href="{% url 'blog:post-delete' pk=post.id %}" class="btn btn-danger link-to-page">Delete</a>
      <a href="{% url 'blog:post-update' pk=post.id %}" class="btn btn-secondary link-to-page">Update</a>
      <br><br>
      {% endif %}
  {% endif %}
  <hr>
  <br/>
  <form action="{% url "blog:like_post" post.pk%}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}

      {% if liked %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Unlike</button>
      {% else %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button>
      {% endif %}
    {% else %}
      <small><a href="{% url "login" %}">Login</a> to like</small>
    {% endif %}
    - {{ total_likes }} Likes
  </form>
  {% endblock %}
<br><br>

</div>