{% include "base.html" %}
{% load static %}


<div class="container">
{% block content %}
   <p>Post Author id: {{ post.authors.id }}</p>



<body>
  <p> Title: {{ post.title }} </p>
  <p> Body: {{ post.body | safe }} </p>
  <p> Date: {{ post.post_date }}</p>
  {% if post.post_image %}
    <img src="{{ post.post_image.url }}">
  {% endif %}

</body>
  <br><br>
  {% if user.is_authenticated %}
    {% if user.id == post.authors.id %}
      <a href="{% url 'blog:post-delete' pk=post.id %}" class="btn btn-danger link-to-page">Delete</a>
      <a href="{% url 'blog:post-update' pk=post.id %}" class="btn btn-secondary link-to-page">Update</a>
      <br><br>
      {% endif %}
  {% endif %}
  <hr>
  <br/>
  <form action="{% url "blog:like_post" post.pk%}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}

      {% if liked %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Unlike</button>
      {% else %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button>
      {% endif %}
    {% else %}
      <small><a href="{% url "login" %}">Login</a> to like</small>
    {% endif %}
    - {{ total_likes }} Likes
  </form>
  <br><br>

  <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
      {% if post.authors.avatar %}
        <img src="{{ post.authors.avatar.url}}" class="img-fluid rounded-start" alt="foto_profile">
      {% else %}
        <img src="{% static "blog/images/defaulte_foto.jpeg" %}" class="img-fluid rounded-start" alt="foto_profile">

      {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{ post.authors.first_name }} {{ post.authors.last_name }}</h5>
        <h5 class="card-title">{{ post.authors.date_of_birth}} </h5>

        <p class="card-text">{{ post.authors.bio }}</p>
        <p class = "small text-muted">
          {% if post.authors.facebook_url %}
            <a href="{{ post.authors.facebook_url }}">Facebook</a> |
          {% endif %}
          {% if post.authors.twitter_url %}
            <a href="{{ post.authors.twitter_url }}">Twitter</a> |
          {% endif %}
          {% if post.authors.instagram_url %}
            <a href="{{ post.authors.instagram_url }}">Instagram</a>
        {% endif %}
        </p>
        <p class="card-text"><small class="text-body-secondary">Last join site {{ post.authors.last_login}}</small></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
<br><br>

</div>